# Dependency folders
node_modules/

# Environment variables (Crucial for security!)
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# Build folders (optional for backend)
dist/
build/

# Uploaded images (Local uploads deploy lo work avvavu)
uploads/